 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-r-project"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CRM PROJECT</div>
    </a>
    <!-- <sup>2</sup> -->
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/home">
            <i class="fas fa-home"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading mb-3">
        Manage Users!
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="./get-user" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-tie"></i>
            <span>Users List</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="./add-user" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-user-plus"></i>
            <span>Add Users</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="./contacts" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-id-card"></i>
            <span>Contacts</span>
        </a>
    </li>


</ul>
