<h1 class="animate__animated">Update Your Info!</h1>
<div class="container mt-2 animate__animated"  id="back">
    <h1 class="text-xl-left">Update Users!</h1>
 <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="mt-5">
    <div class="form">
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder= {{passedFirst}} name="firstName" #firstName [formControl]="myForm.controls['firstName']"/>
                        <small *ngIf="!myForm.controls['firstName'].valid && myForm.controls['firstName'].touched" id="small"class="form-text">Please Enter your First Name!</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder={{passedLast}} name="lastName" #lastName [formControl]="myForm.controls['lastName']"/>
                        <small *ngIf="!myForm.controls['lastName'].valid && myForm.controls['lastName'].touched" id="small"class="form-text">Please Enter your Last Name!</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder={{passedEmail}} name="email" #email [formControl]="myForm.controls['email']"/>
                        <small *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched" id="small"class="form-text">Please Enter your Email Address!</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder={{passedAddress}} name="address" #address [formControl]="myForm.controls['address']"/>
                        <small *ngIf="!myForm.controls['address'].valid && myForm.controls['address'].touched" id="small"class="form-text">Please Enter your Address!</small>
                    </div>
                </div>
            </div>
            <button  [disabled]="!myForm.valid" type="submit" class="btn btn-primary mt-5" (click)='UpdateToFirebase(firstName.value,lastName.value,email.value,address.value)'>Update!</button>
            <button type="submit" class="btn btn-primary mt-5" ><a routerLink="../get-user">Show Users!</a></button>
            <button type="submit" class="btn btn-primary mt-5" ><a routerLink="/home">Go Back!</a></button>
        </div>
        <hr> 
        <div *ngIf="errorData" class="alert alert-danger mt-4" role="alert">
            {{errorData}}
          </div>
    </div>
</form>
</div>