a {
    color: #f3f4f7;
    text-decoration: none;
    background-color: transparent;
}

h1.animate__animated {
    text-align: center;
    font-family: futura;
    font-style: italic;
    width:100%;
    color:#313131;
    font-size:45px;
    font-weight: bold;
  }
  .edit {
    margin-bottom: 30px;
    margin-left: 5px;
}

  table{
    font-family: futura;
    color: black;
    cursor: pointer;
  }
  button{
    font-family: futura;
  }

  i.fas.fa-edit {
    margin-left: 10px;
    cursor: pointer;
}

i.fas.fa-trash-alt{
  cursor: pointer;
}